.cards{
    width: 50%;
}
.male{
    width: 48%;
    float: left;
    margin-right: 4%;
    box-shadow: 2px 2px 10px #606060;
}
.female{
    width: 48%;
    float: left;
    box-shadow: 2px 2px 10px #606060;
    border-radius: 10px 10px 0 0;

}
img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.female img{
    border-radius: 10px 10px 0 0;
}
.card-text{
    padding-left: 15px;
}
.name{
    font-weight: bold;
}